<div class='wrapper'>
  <h2>About</h2>
  <p>Updog is a static site host powered by the DropBox API.</p>

  <h2>Changelog</h2>
  <h3> 0.0.2 - 2015-02-24</h3>
  <h4>Added</h4>
  <ul>
    <li>Added support for custom domains</li>
  </ul>
  <h3> 0.0.1 - 2015-02-22</h3>
  <h4> Added</h4>
  <ul>
    <li> Static HTML support</li>
    <li>Added support for https:// subdomains</li>
    <li>Added support for Jekyll sites</li>
  </ul>

  <h2>Feedback</h2>
  <p>Is there a feature you’d like to see, or a bug you’d like to see fixed?</p>
  <p>Let me know by sending an email to <a href='mailto:jesse@updog.co'>jesse@updog.co</a>.</p>
</div>