/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family:'Helvetica Neue', sans-serif;
  line-height:1.5;
  margin:0;
  background:#fefefe;
}
.wrapper{
  width:80%;
  max-width:40em;
  margin:auto;
  &:after{
    content:' ';
    display:table;
    clear:both;
  }
}

.splash{
  background:url(https://ununsplash.imgix.net/photo-1416431168657-a6c4184348ab?q=75&fm=jpg&s=20ba248730c200af0d30c9ba81854867);
  padding:2em 0;
  background-size:cover;
  background-position:0 -10px;
  background-repeat: no-repeat;
  color:#fff;
  h2{
    text-shadow: 1px 1px 0 #000;
    font-size:2em;
}
}

h1 a{
  color: inherit;
  text-decoration:none;
}

header .wrapper > h1{
  margin:0;
  display:inline-block;
  float:left;
  width:50px;
  background: url(asset_path('updog.png'));
  background-repeat: no-repeat;
  background-size:30px;
  text-indent: -999em;
  position:relative;
  background-position:10px 8px;
  span{
    display:none;
    position:absolute;
    left:0;
    text-indent:0;
    transform:rotate(-90deg);
  }
}

header{
  padding:1em 0;
  background:#fff;
  a{
    display:block;
  }
}


.site-new{
  border:1px solid darken(lightGreen, 20%);
  display:inline-block;
  background:lightGreen;
  color:#fff;
  text-decoration:none;
  padding:.75em 1em;
  text-shadow:1px 1px 0 darken(lightGreen, 40%);
  font-weight:bold;
}

.js-fit{
  margin:0;
  line-height:1;
  text-align:center;
}

nav{
  float:right;
  a{
    display:inline-block;
    font-family:'Lucida Grande';
    font-size:.8em;
    letter-spacing:.05em;
    text-decoration:none;
    color:inherit;
    padding:1.25em;
    position:relative;
  }
}

.sites{
  padding:2em 0;
}

.sites h2{
  margin-top:2em;
}

.sites ul{
  margin:0;
  padding:0;
  list-style:none;
  a{
    display:block;
    padding:1em 0;
    border-bottom:1px solid #eee;
    font-weight:bold;
    text-decoration:none;
    color:inherit;
  }
    li:first-child a{
      border-top:1px solid #eee;
    }
}

@media all and(max-width:40em){
  header .wrapper > h1{
    float:none;
    display:block;
    margin:auto;
  }
  nav{
    float:none;
    width:100%;
    text-align:center;
    a{
      padding:.5em .25em;
    }
  }
}
