.left{
  float:left;
}
.right{
  float:right;
}
img{

max-width:100%}

.instructions{
  display:none;
}

@media all and (max-width:40em){
  .left, .right{
    float:none;
    text-align:center;
  }
  .left + .right{
    margin-top:1em;
  }
}

.cf, .clearfix{
  &:after{
    content:' ';
    display:table;
    clear:both;
  }
}

.table{
  display:table;
}
.g-1-3{
  width:33.33%;
  float:left;

  blockquote{
    position:relative;
    font-size:1em;
    padding:2em 0;
    display:block;
    text-align:center;

    margin:0 1em;
    margin-top:2em;
    &:before, &:after{
      position:absolute;
      font-size:3em;
      font-family:serif;
      color:#ccc;
    }
    &:before{
     content:"“";
     top:-.25em;
     left:0;
    }
    &:after{
     content:"”";
     bottom:-.75em;
     right:0;
     
    }
  }
}

.table .g-1-3{
  display:table-cell;
  float:none;
  vertical-align:middle;
}