<% if session['access_token'] %>
    <%= link_to 'Create New Site', new_site_path, :class => 'site-new' %>
    <h2>Your Sites:</h2>
    <ul>
      <% @sites.each do |s| %>
	<li><%= link_to '//' + s.domain, site_path( s.id ) %></li>
      <% end %>
    </ul>

<% end %>
