<% if session['access_token'] %>
  <div class='wrapper'>
      <div class='sites'>
    <%= link_to 'Create New Site', new_site_path, :class => 'site-new' %>
    <% if @sites %>
      <h2>Your Sites:</h2>
      <ul >
	<% @sites.each do |s| %>
	  <li><%= link_to s.domain, site_path( s.id ) %></li>
	<% end %>
      </ul>
    <% end %>
    </div>
  </div>

  <% else %>
    <div class='splash'>
      <div class='wrapper'>
    <h2>UpDog is a static website host, powered by DropBox</h2>
    </div>
  </div>

  <div class='wrapper'>
    <h3>How it works:</h3>
    <ol>
      <li><a href='/auth/dropbox'>Log In with Dropbox</a></li>
      <li>Create a new site</li>
      <li>Add your site to the newly created folder.</li>
      <li>Share your site.</li>
    </ol>
    </div>
  <% end %>
